@inherits LayoutComponentBase

<MudRTLProvider RightToLeft="@(!System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName.Equals("en"))">

    <Sotsera.Blazor.Toaster.ToastContainer></Sotsera.Blazor.Toaster.ToastContainer>
    <MudThemeProvider IsDarkMode="!true"/>
    <MudDialogProvider/>
    <MudSnackbarProvider/>

    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <ChangeLanguage></ChangeLanguage>
            </div>
            @* <MudPaper Outlined="true" Elevation="0" Class="px-2 m-3">
                <MudBreadcrumbs Items="_items"></MudBreadcrumbs>
            </MudPaper> *@
            <article class="content px-2 pt-2 pb-4">
                <div class="container-fluid">
                    @Body
                </div>
            </article>
        </main>
    </div>

</MudRTLProvider>
