:root{
    --mud-palette-primary: #262626 !important;
    --mud-palette-primary-darken:  #161616 !important;
    --mud-palette-primary-lighten:  #ffffff20 !important;
    --mud-palette-primary-hover: #63636310 !important;
}

@media (min-width: 641px){
    main{
        width: calc(100% - 250px);
    }
}
    
.mud-button-label {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: initial;
}

.square-btn{
    height: 2.5rem;
    width: 2.5rem;
}

.dense-true .mud-input-root-margin-dense{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.dense-true .mud-icon-button{
    padding: 10px !important;
}

.white-text .mud-icon-root.mud-svg-icon.mud-icon-size-medium{
    color: white !important;
}